.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 180px;
  background-color: gray;
  border-radius: 3px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-removeBtn {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-nameContainer {
  display: flex;
  gap: 5px;
}

.swiperContainer {
  display: flex;
  justify-content: center;
}
.nav-btn {
  background: none;
}
